	/* Element Type ID and Class Selector Examples */
	
	/* All Elements */
	* 	{margin: .5em; 1em;}
	
	/*Elements by Type */
	h1{ font-family: Arial, sans-serif, serif;}
	
	/*One Element by ID */
	#main{
		border: 2px solid red;
		padding: 1em;
	}
	
	/* Elements by Class */
	.blue  {color: blue;}
	
	.right {text-align: right;}
	
	h2{ color: green; }
	/* Multiple Selectors */
	
	h3,h4 { color: maroon;}
	
	/* All elements with href attributes */
	*[href] { font-size: 95%;}
	
	/* All <a> elements within with href attributes */
	a[href] {color: red; font-family: Arial, sans-serif;}
    
	