	/* measurement examples */
    
	body {
			font-size: 87.5%;
			margin-left: 2em;}
	header {
			padding-bottom .75em;
			border-bottom: 3px solid black;
			margin-bottom:0;}
	h1{
		font-size: 200%;
		margin-bottom: 0;}
		