	/* Element Type ID and Class Selector Examples */
	
	/* All Elements */
	* 	{margin: .5em; 1em;}
	
	/*Elements by Type */
	h1{ font-family: Arial, sans-serif, serif;}
	
	/*One Element by ID */
	#main{
		border: 2px solid red;
		padding: 1em;
		}
	
	/* Elements by Class */
	.blue  {color: blue;}
	
	.right {text-align: right;}
    
	