	/* A CSS Style file for formatting "the box" around some block elements  using all relative measures (portions of browers def of em */
	
	
body {
	border: 0.1875em dotted black;
	margin: .625em;
	}
	
section{
	border: 0.125em solid black;
	/* width: 31.25em; */
	width:auto;
	margin: 1.25em;	/* all four sides */
	padding: .625em;  /* all four sides */
	}
h1,p {
	border: 0.0625em dashed black;
	padding: .625em;
	}
h1{
	margin: .5em 0 .25em; /* .5em top,0 right and left, .25em bottom */
	padding-left: .9375em;
}
p{
	margin: 0; /* all four sides */
	padding-left: .9375em;
}
div {
border: 0.1875em dotted black;
color: red;
margin: .625em;
}
	
	
	
	

	
	
	