	/* A CSS Style file for formatting "the box" around some block elements  */
	
	
body {
	border: 3px dotted black;
	margin: 10px;
	}
	
section{
	border: 2px solid black;
	width: 500px;
	margin: 20px;	/* all four sides */
	padding: 10px;  /* all four sides */
	}
h1,p {
	border: 1px dashed black;
	padding: 10px;
	}
h1{
	margin: .5em 0 .25em; /* .5em top,0 right and left, .25em bottom */
	padding-left: 15px;
}
p{
	margin: 0; /* all four sides */
	padding-left: 15px;
}
div {
border: 3px dotted black;
color: red;
margin: 10px;
}
	
	
	
	

	
	
	